/*
    Index
    -----------------------------------------
    1. GENERAL
    2. HEADER
    3. MAIN SECTION
    4. VIDEOS SECTION
    5. MORE NEWS SECTION
    6. FOOTER
    7. MEDIA QUERIES
    -----------------------------------------
*/

/*
=============================================
            1. GENERAL
=============================================
*/
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Regular.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('fonts/FuturaPTBold.otf');
    font-weight: bold;
}

body {
    margin: 0;
    font-family: 'FuturaPT';
    height: 100%;
}

img {
    width: 100%;
}

.page-container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    max-width: 1200px;
}

p, small {
    font-family: 'Proxima Nova';
    color: #2A2A2A;
}


/*
=============================================
            2. HEADER
=============================================
*/

nav {
    background-color: #c33;
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu {
    color: #FFF;
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
} 

.logo {
    width: auto;
    height: 100%;
    position: absolute;
    transform: translateX(-50%) scale(2);
    right: 0;
    top: 0;
    justify-content: flex-end;
}

.menu-item {
    line-height: 55px;
    margin: 0 15px;
    position: relative;
}

/*
=============================================
            3. MAIN SECTION
=============================================
*/
/*  */

#main-section {
    display: flex;
    align-content: center;
    
}


.main-news {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-basis: 600px;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-wrap: wrap;
}

.main-news-container {
    display: flex;
    flex-direction: row;
    flex-shrink: 2;
}

.secondary-main-news-container {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-basis: 300px;
    flex-shrink: 1;
}

.less-relevant-main-news-container{
    display: flex;
    flex-direction: row;
}
.less-relevant-main-news {
    margin: 5px;
}

aside {
    margin-left: 40px;
    background: #FAFAFA;
    padding: 20px;  
}

.small-news + .small-news {
    margin-top: 10px;
    border-top: 1px solid #d0d0d0;
}

/*
=============================================
            4. VIDEOS SECTION
=============================================
*/

#videos-section {
    display: flex;
    background-color: #000;
    margin: 50px 0;
    max-width: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.video-title {
    color: #FFF;
    font-size: 52px;
}

.videos-container {
   display: flex;
   max-width: 1200px;
   flex-wrap: wrap;
   justify-content: space-evenly;
   
   
    
}



.video-container img {
    border: 5px solid #FFF;
    box-sizing: border-box;
    width: 275px; 
    margin: 0 5px;
    
}

.video-container h3 {
    color: #FFF;
    width: 260px; 
  
    
}

/*
=============================================
            5. MORE NEWS SECTION
=============================================
*/

#more-news {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-content: center;
  
}
.more-news-container {
    display: flex;
}

.more-news-secondary-column {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    flex-wrap: wrap;
    align-content: center;
}

.more-news-main-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    border-right: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
    margin: 0 20px;
    flex-basis:850px;
}


.more-news-aside {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-basis: 300px;
    padding: 10px 20px; 
    
}

.second-news {
    display: flex;
    align-items: flex-start
}
.aside-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}


.more-news-secondary-column article,
.more-news-main-column article {
    padding: 10px;
}

.more-news-secondary-column article + article,
.more-news-main-column article + article {
    margin-top: 10px;
    border-top: 1px solid #d0d0d0;
}

.more-news-main-column article:nth-of-type(1) h1 {
    font-size: 38px;
    margin: 15px 0;
}

.more-news-main-column article:nth-of-type(2) img {
    max-width: 250px;
    height: auto;
    margin-right: 20px;
}

.more-news-main-column .text-container h2 {
    margin-top: 0;
}


.thumbnail-container {
    min-width: 200px;
    margin: 20px 0;
    display: flex;
}

.thumbnail {
    width: 60px;
    height: 60px;
}

.thumbnail-description {
    margin: 0 0 0 10px;
}

/*
=============================================
            6. FOOTER
=============================================
*/

footer {
    width: 100%;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 4px solid #c3333c;
    
}

.footer-links-container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    align-content: flex-start;
}

.footer-links {
    padding: 0;
    list-style: none;
}

.footer-links-column {
    margin: 0 20px;
}

.footer-link-title {
    color: #2A2A2A;
    font-size: 15px;
}

.footer-link {
    font-family: 'Proxima Nova';
    font-size: 13px;
    color: #BEBEBE;
}

/* ----------------------MEDIA QUERIES----------------------- */


@media (max-width: 1160px) {

    #main-section {
        flex-direction: column;
    }

aside {
    display: flex;
    
}
.small-news + .small-news {
       border-top: none;
       margin: 0; 
       border-left: 1px solid #d0d0d0; 
       padding-left: 15px;
       text-align: center;
}

.small-news {
    border-top: none;
    margin: 0; 
    padding-left: 15px;
    text-align: center;
}

.less-relevant-main-news-container{
    padding: 10px;
}

.video-container {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    align-items: center;
    justify-items: space-evenly;
}

.video-container img {
    border: 5px solid #FFF;
    box-sizing: border-box;
    width: 400px;
    margin: 0 5px;
    
}

.video-container h3 {
    
    width: 400px; 
  
    
}

/*More news*/

#more-news {
    flex-wrap: wrap;
    flex-direction: column;
}
.more-news-container {

    width: 100%;
}

.more-news-secondary-column {
    order: 1;
}

.more-news-aside {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 80px;

}

.aside-news {
    align-items: flex-start;
    justify-content: flex-start;
}

.aside-news img {
   max-width: 400px;    

}


.thumbnail-container {
   margin-top: 0;
   margin-bottom: 20px;     
}
} 